$font-family-base:   'League Spartan', sans-serif;

$accordion-icon-color: #fff;                   
$accordion-icon-active-color: #fff;
$accordion-button-bg: #B01029;
$accordion-button-active-bg: #B01029;
$accordion-button-active-color: #fff;
$accordion-color:  #fff;
$pagination-bg:  transparent;
$pagination-active-bg:  #B01029;
$pagination-color:  #B01029;
$pagination-disabled-bg: transparent;
$dropdown-link-active-bg: #e9ecef;
$font-family-base: 'League Spartan', sans-serif;

@import 'bootstrap/scss/bootstrap.scss';

@media (min-width: 992px) { 
}

.map {
    width: 100%;
    height: 300px;
    // border: 2px solid #eee;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
    iframe {
      position: relative;
      top: -60px;
      border: none;
      width: 100%;
      height: 650px;
    }
  }
