html,
body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-primary {
  color: #B01029 !important
}

.color-secondary {
  color: #F48C06 !important
}

.color-white {
  color: #fff
}

.filled-btn {
  background-color: #B01029 !important;
  color: white !important;
  padding: 0.4rem 4rem;
  font-size: 1.1rem
}

.outline-btn {
  border: 1px solid #B01029 !important;
  color: #B01029 !important;
  width: 90%;
  font-size: 1.1rem;
}

.white-card {
  background-color: white;
  border-radius: 10px;
}

.page-link {
  border: 0 !important;
  background-color: transparent;
  color: #B01029;
}

.accordion-button {
  font-weight: 700;
  border-radius: 10px;
}

.accordion-item {
  font-family: 'League Spartan', sans-serif;
  border-radius: 10px;
}

.slick-prev:before, .slick-next:before {
  color: grey !important;
}

.slick-dots li.slick-active button:before {
  color: #B01029 !important
}

.slick-dots {
  bottom: -100px !important;
}

.slick-dots li {
  width: 15% !important;
  height: 15% !important;
}

.rri-dropdown::after {
  color: transparent !important
}

.elipsis {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.elipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lineup-img{
  max-height: 14rem;
}

.testi-card {
  width: 93%;
}

.lineup-title {
  font-size: 1.25rem;
  min-height: 60px;
}

.testi-container {
  width: 100vw;
  height: 28vw;
  position: relative
}

.porto-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.porto-img-home {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.porto-title {
font-size: 1.1rem;
}

.porto-subtitle {
  font-size: 0.9rem;
}

.service-title-card {
  padding-left: 3rem;
}

.general-container {
  padding-right: 3rem ;
  padding-left: 3rem ;
}

.benefit-container {
  padding-right: 3rem ;
  padding-left: 3rem ;
}

.partner-img {
  width: 120px; 
  height: 50px;
  object-fit: contain;
}

.kat-prod-title {
  font-size: 1.25rem;
}

.how-to-ava {
  color: white;
  width: 5vw;
  height: 5vw;
  background-color: #B01029;
  font-size: calc(1.375rem + 1.5vw);
}

.prod-cat-card {
  width: 100%;
  background-color: white;
  color: #B01029;
  border: 1px solid #B01029;
  border-width: 1px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.prod-cat-card-active {
  width: 100%;
  background-color: #B01029;
  color: white;
  border: 1px solid #B01029;
  font-size: 1.1rem;
  border-radius: 4px;
}

.banner-screen {
  width: 100vw;
  height: 28vw;
  position: relative 
}

.kat-prod-img {
  width: 100%;
  height: 15vw;
  position: relative 
}

.abt-us-btn {
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  border: 0;
  font-weight: bold;
}

.kat-search {
  padding: 6px 12px !important;
  padding-left: 0px !important;
}

.foot-img {
  width: 5%
}

.foot-txt {
  width: 95%
}

@media (max-width: 576px) { 
  .nav-item {
    width: 100% ;
  }

  .service-title {
    font-size: 1.2rem;
  }

  .service-title-card {
    padding-left: 0 !important;
  }

  .benefit-container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .general-container { 
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .more-btn {
    width: 100% !important
  }

  .lineup-title {
    min-height: 30px;
    font-size: 0.6rem;
  }

  .lineup-btn {
    font-size: 0.55rem !important;
  }

  .lineup-card{
    width: 14rem;
  }

  .testi-container{
    height: 60vw;
  }

  .testi-card {
    height: 9rem;
  }

  .partner-img {
    width: 80px; 
    height: 35px
  }

  .porto-img {
    height: 165px;
  }

  .porto-img-home {
    height: 70px;
  }

  .porto-title {
    font-size: 1rem !important;
  }

  .how-to-text {
    font-size: calc(1.275rem + 0.3vw);
  }

  .banner-screen {
    height: 15rem;
  }

  .prod-cat-card {
    font-size: 0.8rem;
  }

  .prod-cat-card-active {
    font-size: 0.8rem;
  }

  .kat-prod-title {
    font-size: 0.75rem;
    /* height: 50px; */
  }

  .katalog-btn {
    font-size: 0.55rem !important;
    padding: 3px 3px !important;
  }

  .kat-prod-img {
    height: 9.75rem;
  }

  .how-to-ava {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }

  .how-to-text {
    font-size: 0.8rem;
  }

  .porto-detail-title {
    font-size: 1.5rem !important;
  }

  .porto-detail-date {
    font-size: 1rem !important;
  }

  .porto-detail-hist {
    font-size: 0.9rem;
  }

  .kat-search {
    padding: 4px 10px !important;
    font-size: 0.85rem !important;
  }

  .slick-dots {
    bottom: -45px !important;
  }
  
}

@media (min-width: 576px) { 

  .kat-prod-img {
    height: 20vw;
  }

  .kat-prod-title {
    font-size: 0.75rem;
    /* height: 50px; */
  }

  .katalog-btn {
    font-size: 0.5rem !important;
  }

  .prod-cat-card {
    font-size: 0.8rem;
  }

  .prod-cat-card-active {
    font-size: 0.8rem;
  }

  .how-to-ava {
    width: 45px;
    height: 45px;
  }

  .slick-dots {
    bottom: -45px !important;
  }
}

@media (min-width: 768px) { 

  .lineup-card{
    width: 7.5rem;
  }

  .lineup-img {
    max-height: 7.5rem;
  }

  .lineup-title {
    font-size: 1.1rem !important;
    min-height: 42px;
  }

  .testi-container{
    height: 35vw;
  }
  
  .testi-card {
    height: 10rem;
  }

  .testi-content{
    font-size: 0.9rem;
  }

  .porto-content {
    font-size: 0.8rem;
  }

  .porto-title {
    font-size: 1.1rem !important;
  }
  .porto-img {
    height: 165px;
  }

  .porto-img-home {
    height: 100px;
  }

  .benefit-container {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .general-container { 
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .kat-prod-img {
    height: 11.75rem;
  }

  .katalog-btn {
    font-size: 0.9rem !important;
  }

  .kat-prod-title {
    font-size: 0.95rem;
  }

  .how-to-ava {
    width: 65px;
    height: 65px;
  }

  .how-to-text {
    font-size: 1.2rem;
  }

  .abt-us-btn {
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1.1rem;
    border: 0;
    font-weight: bold;
  }

  .slick-dots {
    bottom: -80px !important;
  }

  .kat-prod-slider {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 992px) { 
 .nav-item {
   width: 100% ;
 }

  .lineup-card{
    width: 7.5rem 
  }

  .lineup-img {
    max-height: 7.5rem;
  }

  .lineup-title {
    font-size: 1.1rem !important;
  }

  .prod-cat-card {
    font-size: 1.1rem;
  }

  .prod-cat-card-active {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) { 
  .nav-item {
    width: unset !important;
  }

  .lineup-card{
    width: 9rem;
  }

  .lineup-img {
    max-height: 9rem;
  }

  .testi-card {
    height: 12vw;
  }
}

@media (min-width: 1400px) { 
  .nav-item {
    width: unset !important;
  }

  .lineup-card {
    width: 14rem
  }

  .lineup-img {
    max-height: 14rem;
  }

  .testi-card {
    height: 9.3vw;
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

